.swiper-pagination {
   bottom: -43px !important;
   height: fit-content !important;
}

.swiper-pagination-bullet {
   width: 15px !important;
   height: 15px !important;
   background-color: #b1b1b1 !important;
   transition: all 0.4s !important;
}

.swiper-pagination-bullet-active {
   width: 30px !important;
   border-radius: 8px !important;
   background-color: #beb9fe !important;
}
